# This is an example .env.
# To use the file rename this file from .env.example to .env and replace the values with your own.

LOGGER_LEVEL='INFO'
USE_HSTS=false
HSTS_MAX_AGE=31536000
HSTS_PRELOAD=false
PORT=3001
ES_USER='elastic'
ES_PASSWORD='changeme'
ES_HOST='elasticsearch'
ES_PORT=9200
GITHUB_TOKEN=<your_token_here>