doctype html
html(lang='en')
block head
  head
    meta(charset='utf-8')
    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content="The people's code.")
    title code.gov API and metadata schema (Alpha)
    link(rel='canonical', href='https://code.gov/')
    link(rel='stylesheet', href='css/uswds.css')
    link(rel='stylesheet', href='css/styleguide.css')
    link(rel='stylesheet', href='css/main.css')
    //
      Favicons
      ==================================================
    // 128x128
    link(rel='shortcut icon', type='image/ico', href='public/img/favicons/favicon.ico')
    link(rel='icon', type='image/png', href='public/img/favicons/favicon.png')
    //
      192x192, as recommended for Android
      http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    link(rel='icon', type='image/png', sizes='192x192', href='public/img/favicons/favicon-192.png')
    // 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices
    link(rel='apple-touch-icon-precomposed', href='public/img/favicons/favicon-57.png')
    // 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='public/img/favicons/favicon-72.png')
    // 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='public/img/favicons/favicon-114.png')
    // 144x144 (precomposed) for iPad 3rd and 4th generation
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='public/img/favicons/favicon-144.png')
    meta(property='og:title', content='code.gov-api')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://code.gov')
    meta(property='og:description', content="The people's code.")
    meta(property='og:image', content='https://code.gov/img/open-graph.jpg?v=2485d4e')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@WhiteHouse')
    meta(name='twitter:creator', content='@InnovFellows')
    meta(name='twitter:title', content='code.gov')
    meta(name='twitter:description', content="The people's code.")
    meta(name='twitter:image', content='https://code.gov/img/open-graph.jpg?v=2485d4e')

  body
  block header  
    header
      .ood-nav
        .usa-nav-container
          .usa-navbar
            button.usa-menu-btn Menu
            #logo.usa-logo
              em.usa-logo-text
                a(href='#', accesskey='1', title='Code.gov Tools', aria-label='Home')
                  | Code.gov Tools
          nav.usa-nav(role='navigation')
            button.usa-nav-close

            ul.usa-nav-primary.usa-accordion
              li
                a.usa-nav-link(href='/')
                  span Search Repos
              li
                a.usa-nav-link(href='/harvest')
                  span Harvest JSON files

              li
                a.usa-nav-link(href='/api')
                  span Run API 
              li
                a.usa-nav-link(href='/convert')
                  span Map/Convert Inventories
    block body
      .usa-grid
        .usa-width-one-half
          h2 Search repos
        .usa-width-one-whole
          form.usa-search.usa-search-big(action='/', method='post')
            div(role='search')
              label.usa-sr-only(for='search-field-big') Search big
              input#search-field-big(type='search', name='search')

              button(type='submit')
                span.usa-search-submit-text Search
          br
          hr
          h2 Results
          table
            thead
              tr
                th(scope='col') Agency
                th(scope='col') ProjectName
                th(scope='col') Project Description
                th(scope='col') RepoURL
                th(scope='col') Tag(s)


            tbody
              each repo in repos
                each project in repo.projects
                  tr
                    th(scope='row')= repo.agency


                      td
                        =project.name
                      td= project.description
                      td= project.repository  
                      td 
                        each tag in project.projectTags
                          =tag.tag+', '

                
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",  crossorigin="anonymous")    
    script(src='js/uswds.min.js')
    
