body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*max-width: 600px;*/
}

a {
  color: #2b7bba;
}

.failure, .red {
  color: #800;
}

td.failure {
  color: black;
  background: #800;
}

.warning, .yellow {
  color: #880;
}

td.warning {
  color: white;
  background: #DD0;
}

.success, .green {
  color: #080;
}

td.success {
  color: white;
  background: #080;
}

.grey {
  color: #666;
}

.light {
  color: #DDD;
}

.bold {
  font-weight: bold;
}
h1 {
  margin-top: 0;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

table {
  border-spacing: 0px;
}

th, td {
  vertical-align: top;
  text-align: left;
  padding: 10px;
  border: 1px solid #eee;
}

th {
  background-color: #333;
  color: #fff;
}

pre {
  margin: 0px;
}
