extends ../../layout

block content
  each project in statusData
    table
      tr
        th
          ="Project"
        td(colspan="3")
          =project.project_name
      tr
        th Organization
        th Type
        th Issue

      if project.issues.errors
        each error in project.issues.errors
          tr.failure
            td
              =project.organization
            td ERROR
            td
              pre
                =JSON.stringify(error, null, 2)
      if project.issues.warnings
        each warning in project.issues.warnings
          tr.warning
            td
              =project.organization
            td WARNING
            td
              pre
                =JSON.stringify(warning, null, 2)
              br
              a.item(href="/api/repo/" + project.repoID)
                View repository information
      if project.issues.enhancements
        each enhancement in project.issues.enhancements
          tr.enhancement
            td
              =project.organization
            td REQUESTED ENHANCEMENT
            td
              pre
                =JSON.stringify(enhancement, null, 2)
              br
              a.item(href="/api/repo/" + project.repoID)
                View repository information
    br